body {
  padding-bottom: 20px;
  position: relative;
}

.tutor-card {
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 20rem;
}

#info {
  background: white;
}

.seperator {
  height: 2px;
  background-color: #eaebed;
  border-radius: 10rem;
}
