body {
  padding-bottom: 20px;
  position: relative;
  zoom: 80%;
}

.card {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

#info {
  background: white;
}

#seperator {
  height: 2px;
  background-color: lightgrey;
  border-radius: 1rem;
}
